.search {
  &__input {
    height: 40px;
    width: 100%;
    padding: 2px 6px;
    font-size: 16px;
    color: #fff;
    border: 1px solid $grayBorder;
    border-radius: 2px 0 0 2px;
    background-color: $darkBlack;

    &:focus {
      outline: none;
      border: 1px solid $blue;
    }

    &::placeholder {
      color: #888888;
    }
  }

  &__button {
    width: 72px;
    height: 40px;
    background-color: $gray;
    border: 1px solid $grayBorder;
    border-radius: 0 2px 2px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__voice-search {
    border-radius: 50%;
    background-color: $darkBlack;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-left: 8px;
    cursor: pointer;
    svg {
      width: 28px;
      height: 28px;
    }
  }
}
