.header {
  background-color: $black;

  &__inner {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__center {
    padding: 0 30px;
    max-width: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__burger {
    margin-right: 26px;
    height: 20px;
    width: 18px;
  }

  &__avatar {
    margin-left: 16px;
    width: 32px;
    height: 32px;
  }

  &__logo {
    width: 90px;
    height: 20px;
  }

  &__icon {
    cursor: pointer;
    margin-right: 20px;
  }

  &__search {
    display: flex;
    flex: 1;
    max-width: 540px;
    width: 100%;
  }
}

@media (max-width: 700px) {
  .header {
    &__center {
      display: none;
    }
  }
}
